.mains
{
	margin-top: 1%;
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 30%;
	margin-right: 30%;
}

.heading
{
	text-align: center;
	background-color:aqua;
	margin-top: 0;
	/*margin-right: 0.5%;
	margin-left: 1%;*/
	border-radius: 10px 10px 0 0;
	margin-bottom:1%;
	
}

.taskdiv
{
	text-align: center;
}
#addtask
{
	padding:0.6%;
}
#btn1
{ 
  background-color: linen;
  padding: 10px;
  border-style: none;
}
.todo
{
	text-align: center;
	margin-left:10%;
	margin-right: 10%;


}
{
	height: 50vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.task
{
	padding: 0.5%;
	margin: 1%;
}
.buttons
{
  background-color: linen;
  padding: 10px;
  border-style: none;
  margin:2px;
  font-weight: bold;

}
.complete
{
	text-align: center;
}